/.vs/*
/ChotCorners.sln
/ChotCorners.vcxproj
/ChotCorners.vcxproj.filters
/ChotCorners.vcxproj.user
/Debug/ChotCorners.ilk
/Debug/ChotCorners.log
/Debug/ChotCorners.pdb
/Debug/ChotCorners.tlog/CL.command.1.tlog
/Debug/ChotCorners.tlog/CL.read.1.tlog
/Debug/ChotCorners.tlog/CL.write.1.tlog
/Debug/ChotCorners.tlog/ChotCorners.lastbuildstate
/Debug/ChotCorners.tlog/link.command.1.tlog
/Debug/ChotCorners.tlog/link.read.1.tlog
/Debug/ChotCorners.tlog/link.write.1.tlog
/Debug/ChotCorners.tlog/rc.command.1.tlog
/Debug/ChotCorners.tlog/rc.read.1.tlog
/Debug/ChotCorners.tlog/rc.write.1.tlog
/Debug/hotcorner.obj
/Debug/vc141.pdb
/Debug/version.res


# VSCODE
.vscode/*